* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 600px;
    background-color: white;
    padding: 2%;
    text-align: center;
}

img {
    width: calc(80%);
    margin: 20px auto;

}

p {
    text-align: center;
    line-height: 20px;
}

