div{
    text-align: center;
}

img{
    margin: 30px auto;
}

h1{
    width: 500px;
    line-height: 45px;
    color: rgb(95, 95, 95);
    border:3px solid gray;
    margin: 30px auto;
}
h2{
    width: 400px;
    font-size: 18px;
    color: gray;
    margin: 20px auto;
}
h3{
    width: 500px;
    font-weight: normal;
    line-height: 30px;
    color: gray;
    border-top:2px solid gray;
    border-bottom: 2px solid gray;
    padding: 15px auto;
    margin: 20px auto;
}

p{
    width: 480px;
    font-size: 14px;
    font-family: tahoma;
    line-height: 20px;
    color: gray;
    margin: 30px auto;
    text-align: justify;
}

span{
    font-weight: bold;
}

a{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(62, 167, 62);
    border-radius: 20px;
    padding: 10px;
}